.caja-13{
    width: 13%
}
.caja-25{
    width: 25%
}
.caja-40{
    width: 40%
}
.imgcarrito{
    max-width: 70px;
    max-height: 70px;
    border-radius: 25px;
}
.admin-nav div{
    font-weight: 500!important;
    color: #fff!important;
}
.admin-nav .nav-link{
    font-weight: 500!important;
    color: #fff!important;
}
.admin-nav svg{
    width: 40px;
    height: 40px;
    fill: #fff;
}
.logout-btn{
    font-weight: 500;
    color: #fff;
}
.admin-nav{
    max-width: 300px;
    min-width: 280px;
    min-height: 100%;
}
.admin-nav li{
    padding: 13px 25px;
    margin: 0px 0px;
}
.admin-nav li{
    border-radius: 0 75px 2px 0;
}
.admin-nav li:hover{
    background-color: rgb(5, 15, 41);
}
.admin-nav li:hover div{
    color: rgb(204, 226, 253)!important;

}
.admin-nav li:hover svg{
    fill: rgb(204, 226, 253)!important;

}
.admin-nav li:hover .logout-btn{
    color: rgb(204, 226, 253)!important;

}
@media only screen and (max-width: 1000px){
    .product-store h2{
        font-size: 25px;
    }
    .product-store h3{
        font-size: 22px;
    }
    .product-store p{
        font-size: 15px;
    }
    .admin-nav{
        max-width: 270px;
        min-width: 250px;
    }
    .admin-nav div{
        font-weight: 500;
        color: #fff;
        font-size: 14px;
    }
    .admin-nav svg{
        width: 35px;
        height: 35px;
    }
    .logout-btn{
        font-size: 14px;
    }
}
@media only screen and (max-width: 900px){
    .product-store h2{
        font-size: 24px;
    }
    .product-store h3{
        font-size: 21px;
    }
    .product-store p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 768px){
    .product-store h2{
        font-size: 28px;
    }
    .product-store h3{
        font-size: 25px;
    }
    .product-store p{
        font-size: 17px;
    }
    .descprod{
        font-size: 17px;
    }
    .admin-product-foto{
        max-width: 100px!important;
        max-height: 100px!important;
        border-radius: 25px!important;
    }
}
@media only screen and (max-width: 767px){
    #adminNav{
        max-width: 70px!important;
        min-width: 70px!important;
        
    }
    .admin-nav li{
        border-radius: 0 30px 2px 0;
    }
    .admin-nav svg{
        width: 35px;
        height: 35px;
    }
    .admin-nav{
        max-width: 288px;
        min-width: 288px;
        min-height: 100%;
    }
    .admin-nav li{
        padding: 12px 17px;
        margin: 0px 0px;
    }
    .admin-nav-cel{
        max-width: 300px!important;
        min-width: 300px!important;
        margin: 0 0!important;
    }
}
@media only screen and (max-width: 650px){
    .product-store h2{
        font-size: 26px;
    }
    .product-store h3{
        font-size: 23px;
    }
    .product-store p{
        font-size: 15px;
    }
    .descprod{
        font-size: 15px;
    }
}
@media only screen and (max-width: 600px){
    .product-store h2{
        font-size: 22px;
    }
    .product-store h3{
        font-size: 20px;
    }
    .product-store p{
        font-size: 15px;
    }
    .descprod{
        font-size: 15px;
    }
    .admin-product-foto{
        max-width: 90px!important;
        max-height: 90px!important;
        border-radius: 25px!important;
    }
}
@media only screen and (max-width: 550px){
    .admin-product-foto{
        max-width: 85px!important;
        max-height: 85px!important;
        border-radius: 25px!important;
    }
}
@media only screen and (max-width: 500px){

    .descprod{
        font-size: 13px;
    }
    .admin-product-foto{
        max-width: 80px!important;
        max-height: 80px!important;
        border-radius: 25px!important;
    }
}
@media only screen and (max-width: 450px){
    .btn-editar-product{
        font-size: 16px;
    }
    .product-store h2{
        font-size: 20px;
    }
    .product-store h3{
        font-size: 18px;
    }
    .admin-product-foto{
        max-width: 75px!important;
        max-height: 75px!important;
        border-radius: 25px!important;
    }
    .admin-nav li{
        border-radius: 0 25px 2px 0;
    }
    #adminNav{
        max-width: 60px!important;
        min-width: 60px!important;
    }
    .admin-nav svg{
        width: 30px;
        height: 30px;
    }
    .admin-nav{
        max-width: 288px;
        min-width: 288px;
        min-height: 100%;
    }
    .admin-nav li{
        padding: 9px 15px;
        margin: 2px 0px;
    }
}
@media only screen and (max-width: 400px){
    .btn-editar-product{
        font-size: 14px;
    }
    .product-store h2{
        font-size: 18px;
    }
    .product-store h3{
        font-size: 16px;
    }
    .admin-product-foto{
        max-width: 70px!important;
        max-height: 70px!important;
        border-radius: 25px!important;
    }
}
@media only screen and (max-width:370px){
    .btn-editar-product{
        font-size: 12px;
    }
}