.imagen-btn{
    width: 59px;
    height: 59px;
    object-fit: cover;
}
.estrella{
    color:#d1d123!important;

}
.estrella-vacia{
    color:#d1d123!important;
}
.sstars{
    margin-bottom: 5px;
}
.img-principal-cel{
    width: 100vh;
    max-height: 80vh;
    object-fit: cover;
}
.img-principal{
    width: 100vh;
    object-fit: cover;
    max-height: 330px;
}
.img-tiendas{
    width: 250px;
    height: 250px;
    margin: 25px 20px!important;
}
.txt-1{
    font-size: 16px;
    font-weight: 500;
}
.txt-cat{
    font-size: 18px;
    font-weight: 700;
}
.store-title{
    font-size: 40px;
    font-weight: 700!important;
}
.store-box{
    margin: 15px 50px!important;
}
.card-caja{
    margin: 35px 15px!important;
    padding: 5px!important;
}
.stores-cel{
    font-weight: 700!important;
}
@media only screen and (max-width: 1175px){
    .imagen-btn{
        width: 55px;
        height: 55px;
        margin: 1px 0px !important
    }
    .img-tiendas{
        width: 225px;
        height: 225px;
    }
    .store-title{
        font-size: 35px;
        font-weight: 700!important;
    }
}
@media only screen and (max-width: 1100px){
    .imagen-btn{
        width: 50px;
        height: 50px;
        margin: 2px 0px!important;
    }
    .img-tiendas{
        width: 210px;
        height: 210px;
        margin: 20px 20px!important;
    }
    .store-title{
        font-size: 32px;
        font-weight: 650!important;
    }
    .card-caja{
        margin: 25px 15px!important;
        padding: 5px!important;
    }
    .store-categoria{
        font-size: 23px;
    }
    .store-celular{
        font-size: 26px;
    }
    .store-ciudad{
        font-size: 26px;
    }
    .store-email{
        font-size: 22px;
    }
}
@media only screen and (max-width: 1000px){
    .imagen-btn{
        width: 46px;
        height: 46px;
        margin: 2px 0px!important;
    }
    .img-principal{
        width: 90vh;
        object-fit: cover;
        max-height: 300px;
    }
    .store-title{
        font-size: 27px;
        font-weight: 650!important;
    }
    .store-categoria{
        font-size: 21px;
    }
    .store-celular{
        font-size: 24px;
    }
    .store-ciudad{
        font-size: 24px;
    }
    .store-email{
        font-size: 20px;
    }
    .card-caja{
        margin: 30px 15px!important;
        padding: 5px!important;
    }
}
@media only screen and (max-width: 900px){
    .store-categoria{
        font-size: 20px;
    }
    .store-celular{
        font-size: 23px;
    }
    .store-ciudad{
        font-size: 23px;
    }
    .store-email{
        font-size: 20px;
    }
    .img-tiendas{
        width: 200px;
        height: 200px;
        margin: 20px 15px!important;
    }
    .store-title{
        font-size: 26px;
        font-weight: 700!important;
    }
    .card-caja{
        margin: 28px 15px!important;
        padding: 5px!important;
    }
}
@media only screen and (max-width: 850px){
    .imagen-btn{
        width: 40px;
        height: 40px;
        margin: 2px 0px!important;
    }
    .img-principal{
        width: 80vh;
        object-fit: cover;
        max-height: 300px;
    }
    .store-categoria{
        font-size: 18px;
    }
    .store-celular{
        font-size: 21px;
    }
    .store-ciudad{
        font-size: 21px;
    }
    .store-email{
        font-size: 19px;
    }
    .store-title{
        font-size: 23px;
        font-weight: 700!important;
    }
    .store-box{
        margin: 15px 30px!important;
    }
    .card-caja{
        margin: 30px 15px!important;
        padding: 5px!important;
    }
}
@media only screen and (max-width: 800px){
    .imagen-btn{
        width: 36px;
        height: 36px;
        margin: 2px 0px!important;
        
    }
    .img-principal{
        width: 75vh;
        object-fit: cover;
        max-height: 300px;
    }
    .store-categoria{
        font-size: 17px;
    }
    .store-celular{
        font-size: 20px;
    }
    .store-ciudad{
        font-size: 20px;
    }
    .store-email{
        font-size: 17px;
    }
    .img-tiendas{
        width: 190px;
        height: 190px;
        margin: 15px 15px!important;
    }
    .store-title{
        font-size: 22px;
        font-weight: 700!important;
    }
    .card-caja{
        margin: 25px 10px!important;
        padding: 5px!important;
    }
    .img-principal-cel{
        width: 80vh;
        max-height: 70vh;
        object-fit: cover;
    }
}
@media only screen and (max-width: 750px){
    .imagen-btn{
        width: 33px;
        height: 33px;
        margin: 2px 0px!important;
    }
    .img-principal{
        width: 70vh;
        object-fit: cover;
        max-height: 280px;
    }}
@media only screen and (max-width: 700px){
    .img-principal-cel{
        width: 65vh;
        max-height: 55vh;
        object-fit: cover;
    }
    .imagen-btn{
        width: 30px;
        height: 30px;
        margin: 1px 0px!important;
    }
    .botn-imagen{
        margin: 2px!important;
    }
    .img-principal{
        width: 60vh;
        object-fit: cover;
        max-height: 250px;
    }
    .text-busq-cat{
        font-size: 18px;
    }
    .store-categoria{
        font-size: 16px;
    }
    .store-celular{
        font-size: 18px;
    }
    .store-ciudad{
        font-size: 18px;
    }
    .store-email{
        font-size: 16px;
    }
    .img-tiendas{
        width: 180px;
        height: 180px;
        margin: 15px 15px!important;
    }
    .store-title{
        font-size: 21px;
        font-weight: 650!important;
    }
    .card-caja{
        margin: 25px 15px!important;
        padding: 5px!important;
    }
}
@media only screen and (max-width: 600px){
    .img-principal-cel{
        width: 55vh;
        max-height: 50vh;
        object-fit: cover;
    }
    .img-principal{
        width: 150px;
        max-height: 180px;
    }
    .text-busq-cat{
        font-size: 17px;
    }
    .texto-busqueda{
        font-size: 16px;
    }
    .img-tiendas{
        width: 170px;
        height: 170px;
        margin: 15px 10px!important;
    }
    .store-title{
        font-size: 22px;
        font-weight: 650!important;
    }
    .card-caja{
        margin: 20px 10px!important;
        padding: 5px!important;
    }
    
}
@media only screen and (max-width: 550px){
    .store-title-1{
        font-size: 19px!important;
        font-weight: 650!important;
    }
    .sstars{
        margin-bottom: 5px;
    }
    .imagen-btn-cel{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin: 0px 10px!important;
    }
    .img-principal{
        width: 130px;
        max-height: 150px;
    }
    .texto-busqueda{
        font-size: 15px;
    }
    .img-tiendas{
        width: 160px;
        height: 160px;
        margin: 15px 10px!important;
    }
    .store-categoria{
        font-size: 15px;
    }
    .store-celular{
        font-size: 17px;
    }
    .store-ciudad{
        font-size: 17px;
    }
    .store-email{
        font-size: 15px;
    }
    .store-title{
        font-size: 20px;
        font-weight: 650!important;
    }

}
@media only screen and (max-width: 500px){
    .store-title-1{
        font-size: 18px!important;
        font-weight: 650!important;
    }
    .imagen-btn-cel{
        width: 45px;
        height: 45px;
        border-radius: 20px;
        margin: 0px 5px!important;
    }
    .img-principal-cel{
        width: 40vh;
        max-height: 40vh;
        object-fit: cover;
    }
    .img-principal{
        width: 120px;
        max-height: 130px;
    }
    .text-busq-cat{
        font-size: 16px;
    }
    .txt-1{
        font-size: 14px;
        font-weight: 500;
    }
    .txt-cat{
        font-size: 16px;
        font-weight: 600;
    }
    .texto-filtro{
        font-size: 14px;
    }
    .texto-busqueda{
        font-size: 13px;
    }
    .store-categoria{
        font-size: 14px;
    }
    .store-celular{
        font-size: 16px;
    }
    .store-ciudad{
        font-size: 16px;
    }
    .store-email{
        font-size: 14px;
    }
    .img-tiendas{
        width: 140px;
        height: 140px;
        margin: 10px 10px!important;
    }
    .store-title{
        font-size: 17px;
        font-weight: 650!important;
    }
    .store-box{
        margin: 15px 20px!important;
    }
    .card-caja{
        margin: 20px 10px!important;
        padding: 5px!important;
    }
}
@media only screen and (max-width: 450px){
    .store-title-1{
        font-size: 16px!important;
        font-weight: 650!important;
    }
    .img-principal-cel{
        width: 50vh;
        max-height: 50vh;
        object-fit: cover;
    }
    .caja-datos{
        margin: 10px 5px !important;
        padding: 5px!important;
    }
    .img-principal-cel{
        width: 60px;
        height: 60px;
        margin: 10px 0px!important
    }
    .buscar-txt{
        font-size: 14px;
    }
    .texto-busqueda{
        font-size: 12px;
    }}
@media only screen and (max-width: 400px){
    .imagen-btn-cel{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 0px 5px!important;
    }
    .img-principal-cel{
        width: 30vh;
        max-height: 30vh;
        object-fit: cover;
    }
    .img-principal{
        width: 100px;
        max-height: 120px;
    }
    .text-busq-cat{
        font-size: 15px;
    }
    .txt-1{
        font-size: 13px;
        font-weight: 500;
    }
    .txt-cat{
        font-size: 15px;
        font-weight: 600;
    }
    .texto-filtro{
        font-size: 12px;
    }
    .texto-busqueda{
        font-size: 11px;
    }
    .store-categoria{
        font-size: 13px;
    }
    .store-celular{
        font-size: 15px;
    }
    .store-ciudad{
        font-size: 15px;
    }
    .store-email{
        font-size: 13px;
    }
    .img-tiendas{
        width: 120px;
        height: 120px;
        margin: 10px 5px!important;
    }
    .store-title{
        font-size: 16px;
        font-weight: 650!important;
    }
    .card-caja{
        margin: 15px 10px!important;
        padding: 5px!important;
    }
}
@media only screen and (max-width: 370px){
    .text-busq-cat{
        font-size: 14px;
    }
    .buscar-txt{
        font-size: 12px;
    }
    .texto-busqueda{
        font-size: 10px;
    }
    .img-tiendas{
        width: 110px;
        height: 110px;
        margin: 5px 5px!important;
    }
    .store-title{
        font-size: 14px;
        font-weight: 650!important;
    }
    .card-caja{
        margin: 10px 5px!important;
        padding: 5px!important;
    }
}