html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
.policy{
    font-size: 15px;
    text-align: center;
}
@media (max-width: 768px) {
    .policy{
        font-size: 13px;
        text-align: center;
    }
}
@media (max-width: 1023px) {
    .policy{
        font-size: 14px;
        text-align: center;
    }
}
.navegacion{
    width: 50%;
}
@media (max-width: 450px) {
    .navegacion{
        width: 75%;
    }
}