html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
.policy {
  font-size: 15px;
  text-align: center;
}
@media (max-width: 768px) {
  .policy {
    font-size: 13px;
    text-align: center;
  }
}
@media (max-width: 1023px) {
  .policy {
    font-size: 14px;
    text-align: center;
  }
}
.navegacion {
  width: 50% !important;
}
@media (max-width: 450px) {
  .navegacion {
    width: 75% !important;
  }
}
.va-center{
  vertical-align: center;
}
.h-100-vh{
  height: 100vh;
}
.hr-nav hr{
  border-top: 1px solid;
  border-bottom: 1px solid;
  opacity: 0.4;
}